body {
  margin: 0;
}

#app {
  #container {
    margin: 0 auto;
    max-width: 1200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #heading {
    background-color: white;

    h1 {
      font-family: "Dancing Script", cursive;
      font-size: 80px;
      color: lightcoral;
      margin-bottom: 35px;
    }

    img {
      box-shadow: 0px 0px 5px 3px rgba(230, 230, 230, 1);
    }

    .todo-input {
      display: flex;
      justify-content: center;
      margin-bottom: 16px;
      #input {
        border: 1px solid #cecece;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        color: lightcoral;
      }

      #submit {
        border: 1px solid lightcoral;
        border-radius: 5px;
        padding: 9px;
        font-size: 16px;
        background-color: lightcoral;
        color: white;
        margin-left: -54px;
        font-family: montserrat;
      }
    }
  }

  #item-count {
    font-family: montserrat;
    font-size: 14px;
    padding: 16px;
    width: 100%;
    text-align: center;
    background-color: lightcoral;
    margin-top: 16px;
    color: white;
  }

  #todo-container {
    width: 100%;
    padding-top: 16px;
    // margin-top: 16px;
    background-color: #efefef;

    p {
      color: #4e4e4e;
      font-size: 16px;
      font-family: montserrat;
      text-transform: capitalize;
      width: 100%;
      padding-left: 16px;
    }

    .item {
      // border-bottom: 1px solid #c70039;
      display: flex;
      align-items: center;
      width: 95%;
      margin: 0 auto;
      margin-bottom: 8px;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0px 0px 5px 3px #dedede;

      i {
        padding: 10px;
      }
    }

    .important.item {
      .star {
        color: lightcoral;
      }
    }

    .star {
      color: gray;
    }

    .delete {
      color: red;
    }

    .edit {
      color: gray;
    }

    .done {
      color: black;
    }

    .complete.item {
      p {
        text-decoration: line-through;
        color: lightcoral;
      }

      .done {
        color: lightcoral;
      }

      .star,
      .delete,
      .edit {
        color: #d8d8d8;
      }
    }
  }
}

.item > *[contenteditable="true"] {
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  padding: 5px;
}
