#app {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: "PT Serif", serif;
  }

  .todo-input {
    #input {
      border: 1px solid grey;
      border-radius: 5px;
      padding: 10px;
      font-size: 16px;
    }

    #submit {
      border: 1px solid grey;
      border-radius: 5px;
      padding: 10px;
      font-size: 16px;
      background-color: #3c3c4c;
      color: white;
    }
  }

  #todo-container {
    width: 35%;
    background-color: #efefef;
    border-radius: 10px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 16px;

    p {
      color: #4e4e4e;
      font-size: 20px;
      font-family: montserrat;
      text-transform: capitalize;
      width: 100%;
    }

    .item {
      display: flex;
      align-items: center;
      width: 100%;

      i {
        padding: 10px;
      }
    }

    .important.item {
      .star {
        color: red;
      }
    }

    .complete.item {
      p {
        text-decoration: line-through;
        color: green;
      }

      .done {
        color: green;
        font-size: 24px;
      }

      .star,
      .delete,
      .edit {
        color: #d8d8d8;
      }
    }
  }
}

.item > *[contenteditable="true"] {
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  padding: 5px;
}
