body {
  margin: 0;
  background-color: #d5d4ff;
}

#app {
  #header-info {
    padding-bottom: 12px;
    text-align: center;
    h1 {
      font-family: Nunito;
      color: #490180;
      font-size: 32px;
      padding-left: 16px;
    }

    img {
      box-shadow: 0px 0px 5px 3px rgba(230, 230, 230, 1);
    }

    .todo-input {
      margin-left: 16px;

      #input {
        border: 1px solid #c1befb;
        border-radius: 8px;
        padding: 10px;
        font-size: 11px;
        background-color: #d6d4ff;
        color: #490180;
        width: 300px;
      }

      #submit {
        border: 1px solid #c1befb;
        border-radius: 8px;
        padding: 9px;
        font-size: 11px;
        background-color: #c1befb;
        color: #490180;
        font-family: Nunito;
      }
    }
  }

  #item-count {
    font-family: Nunito;
    font-size: 14px;
    padding-left: 16px;
    color: white;
    background-color: #490080;
    border-radius: 100px;
    padding: 8px;
    display: flex;
    justify-content: center;
    width: 150px;
    margin: 0 auto;
  }

  #todo-container {
    background-color: #ffffff;
    border-radius: 4px;
    margin: 12px;

    p {
      color: #4e4e4e;
      font-size: 14px;
      font-family: Nunito;
      text-transform: capitalize;
      width: 100%;
      padding-left: 16px;
    }

    .item {
      display: flex;
      align-items: center;

      i {
        padding: 7px;
      }
    }

    .important.item {
      .star {
        color: #490180;
      }
    }

    .star {
      color: gray;
    }

    .delete {
      color: #490180;
    }

    .edit {
      color: gray;
    }

    .done {
      color: black;
    }

    .complete.item {
      p {
        text-decoration: line-through;
        color: black;
      }

      .done {
        color: black;
      }

      .star,
      .delete,
      .edit {
        color: #d8d8d8;
      }
    }
  }
}

.item > *[contenteditable="true"] {
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  padding: 5px;
}

@media screen and (min-width: 570px) {
  #app #todo-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 12px;
  }
}
