body {
  margin: 0;
  background-color: #d5d4ff; }

#app #header-info {
  padding-bottom: 12px;
  text-align: center; }
  #app #header-info h1 {
    font-family: Nunito;
    color: #490180;
    font-size: 32px;
    padding-left: 16px; }
  #app #header-info img {
    box-shadow: 0px 0px 5px 3px #e6e6e6; }
  #app #header-info .todo-input {
    margin-left: 16px; }
    #app #header-info .todo-input #input {
      border: 1px solid #c1befb;
      border-radius: 8px;
      padding: 10px;
      font-size: 11px;
      background-color: #d6d4ff;
      color: #490180;
      width: 300px; }
    #app #header-info .todo-input #submit {
      border: 1px solid #c1befb;
      border-radius: 8px;
      padding: 9px;
      font-size: 11px;
      background-color: #c1befb;
      color: #490180;
      font-family: Nunito; }

#app #item-count {
  font-family: Nunito;
  font-size: 14px;
  padding-left: 16px;
  color: white;
  background-color: #490080;
  border-radius: 100px;
  padding: 8px;
  display: flex;
  justify-content: center;
  width: 150px;
  margin: 0 auto; }

#app #todo-container {
  background-color: #ffffff;
  border-radius: 4px;
  margin: 12px; }
  #app #todo-container p {
    color: #4e4e4e;
    font-size: 14px;
    font-family: Nunito;
    text-transform: capitalize;
    width: 100%;
    padding-left: 16px; }
  #app #todo-container .item {
    display: flex;
    align-items: center; }
    #app #todo-container .item i {
      padding: 7px; }
  #app #todo-container .important.item .star {
    color: #490180; }
  #app #todo-container .star {
    color: gray; }
  #app #todo-container .delete {
    color: #490180; }
  #app #todo-container .edit {
    color: gray; }
  #app #todo-container .done {
    color: black; }
  #app #todo-container .complete.item p {
    text-decoration: line-through;
    color: black; }
  #app #todo-container .complete.item .done {
    color: black; }
  #app #todo-container .complete.item .star,
  #app #todo-container .complete.item .delete,
  #app #todo-container .complete.item .edit {
    color: #d8d8d8; }

.item > *[contenteditable="true"] {
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  padding: 5px; }

@media screen and (min-width: 570px) {
  #app #todo-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 12px; } }
