#app {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #app h1 {
    font-family: "PT Serif", serif; }
  #app .todo-input #input {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px; }
  #app .todo-input #submit {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: #3c3c4c;
    color: white; }
  #app #todo-container {
    width: 35%;
    background-color: #efefef;
    border-radius: 10px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 16px; }
    #app #todo-container p {
      color: #4e4e4e;
      font-size: 20px;
      font-family: montserrat;
      text-transform: capitalize;
      width: 100%; }
    #app #todo-container .item {
      display: flex;
      align-items: center;
      width: 100%; }
      #app #todo-container .item i {
        padding: 10px; }
    #app #todo-container .important.item .star {
      color: red; }

.item > *[contenteditable="true"] {
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  padding: 5px; }
